/* entire container, keeps perspective */
.flip-container {
	perspective: 100vw;
}
	/* flip the pane when hovered */
  .flip-container.flip .flipper {
  	transform: rotateY(180deg);
  }
  .flip-container.flip .flipper {
	transform: rotateY(180deg);
}


/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}


.text-center {
    text-align: center;
}

body {
    background-color: transparent;
    background: url("../img/hearthstone.jpg");
    padding-top: 25px;
    width: auto;
		min-width:300px; /* suppose you want minimun width of 1000px */
		width: auto !important;  /* Firefox will set width as auto */
		width:300px;             /* As IE ignores !important it will set width as 1000px; */
		font-size: 1vw;
}

button{
  align-content: center;
}
img {
    background-color: transparent;
}

.row {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    width=100%;
}

.col-md-2 {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}



@media screen and (max-width: 767px) {
	.col-sm-4{
		width: 50%;
		margin: 0 auto;
		margin-left: 6vw;
	}
	.container {
			padding-left: 24vw;
			padding-right: 24vw;
	}
	.flip-container, .front, .back {
		width: 34vw;
		height: 51vw;
	}
}
@media screen and (min-width: 767px) {
	.container {
			padding-left: 160px;
			padding-right: 160px;
	}
	.flip-container, .front, .back {
		width: 20vw;
		height: 30vw;
	}
}

.col-md-4 {
    background-color: transparent;
    padding: 0px;
    padding-left:  0px;
    padding-right:  0px;
    margin: 0px;
}

.bigButton{
	margin-left: 20vw;
	margin-right: 20vw;
}
.btn-lg{
	font-size: 4vw;
}

.col-md-6 {
    background-color: transparent;
}

/**[id^='cardImg'] {
    height=50%;
}*/
